/* Configuração para tela de tablet e smartphones */
@media (max-width: 900px) {
    #page-home{
        background-position-x: 90vw;
    }

    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;

        bottom: 48px;
        left: 50px;
        translate: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }


    #page-create-point .field-group {
        flex-direction: column;
    }

    #page-create-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-create-point .itens-grid{
        grid-template-columns: 1fr 1fr;
    }


}

/* Configuração para largura minima de 1700px */
@media (min-width: 1700px) {
    #page-home{
        background-position-x: 40vw;
    }

}


/* Para altura maxima de 760px */
@media (max-height: 760px) {
    #page-home{
        background-position-y: 100px;
    }

}